.aio-p2p-content-container {
    max-width: 941px !important;
}

.aio-p2p-space-between {
    justify-content: space-between;
}

.aio-p2p-table-header {
    background: #F6F7F8;
}

.aio-p2p-btn-primary {
    padding: 10px 14px;
    background: #026CB6;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    color: white;
    text-transform: initial;
    font-size: 12px;
    cursor: pointer;
}

.aio-p2p-btn-outline {
    border: 1px solid #026CB6;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
    color: #026CB6;
    padding: 10px 16px;
    font-size: 12px;
    cursor: pointer;
    text-transform: initial;
}

.aio-p2p-btn-outline:hover {
    background-color: #BDBDBD;
    color: #026CB6;
}