.aio-p2p-detail-container {
    max-width: 60%;
    margin: auto;
}

.aio-p2p-btn-upload {
    color: #026CB6;
    background: rgba(2, 108, 182, 0.16);
    border-radius: 4px;
}

.aio-p2p-form-container {
    position: relative;
}

.aio-p2p-icon-down {
    position: absolute;
    right: 18px;
    top: 38px;
}
.aio-p2p-icon-date {
    position: absolute;
    right: 18px;
    top: 10px;
}

.aio-p2p-field-date {
    max-width: 100%;
    width: 100%;
}

.aio-p2p-vat-rate {
    padding-right: 28px;
}

.aio-p2p-lead-time {
    padding-right: 54px;
}

.aio-p2p-header-label {
    font-weight: 500;
    font-size: 13px;
}

/*FORM ERROR*/
.aio-p2p-form-container .aio-p2p-error-message {
	display: none;
}
.aio-p2p-form-container.form-error .aio-p2p-error-message {
	display: block;
	color: #FF5756;
	font-size: 12px;
}
.aio-p2p-form-container.form-error .aio-p2p-form-input {
    border-color: #FF5756;
}
.aio-p2p-form-container.form-error .aio-p2p-form-field > input {
    border-color: #FF5756;
}

/*MODAL*/
.aio-p2p-modal .dialog-heading {
    color: #404143;
}

/*.pdf-scroll{*/
/*    height: 872px;*/
/*    overflow: auto;*/
/*}*/

.aio-p2p-page-content {
    height: calc(100% - 52px) !important;
}

/*============ export ==========*/
.aio-ptp-export-list .list-group-item {
    padding: 0px 15px !important;
    border: 0px; 
}

.aio-p2p-page-content .aio-p2p-detail-container2,
.aio-p2p-page-content .aio-ptp-pdf-viewer{
    height: 100%;
    overflow: auto;
}

.flex-parent {
    display: flex!important;
}

.flex-child {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}